<div class="form-card">
    <h1>Formulaire de contact</h1>
    <form >
        <label for="fname"></label>
        <input type="text" id="fname" name="firstname" placeholder="Votre nom et prénom">

        <label for="sujet"></label>
        <input type="text" id="sujet" name="sujet" placeholder="L'objet de votre message">

        <label for="emailAddress"></label>
        <input id="emailAddress" type="email" name="email" placeholder="Votre email">

        <textarea id="subject" name="subject" placeholder="Votre message" style="height:200px"></textarea>

        <input type="submit" value="Envoyer">
    </form>
</div>