
<div class="container-fluid">
  <div class="row">
    <div class="col-10 mt-3">
      <div class="card"  style="width:50%;">
        <div class="card-horizontal" style=" display: flex; flex: 1 1 auto;">
          
          <div class="card-body">
            <h4 class="card-title">{{artisan.nom}} {{artisan.prenom}} </h4>
            <p> {{artisan.email}}</p>
          </div>
        </div>


          <button   (click)="onViewEtudiant()"type="button" class="btn btn-secondary" class="position-absolute  bottom-0 end-0"> Contacter cet artisan</button>


      </div>
    </div>
  </div>
</div>