
a{
    color: white;
font-size:22px;
font-weight: bold;}
  h1{
    display: block;
  font-style: italic;
  text-align: center;
  

  }
  h3{
    display: block;
  font-style: italic;
  text-align: center;
  color:rgb(190, 190, 18);

  }
  
