<div class="form-card">
    <h2 class="titre">Se connecter</h2>
    <form  [formGroup]="FormConnexion" >
        <div class="form-group">
            <label for="login">Email</label>
            <input   id="login" type="email"  formControlName="login"  >
        </div>
        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input id="password" type="password"  formControlName="password"   >
        </div>

        <div class="action-buttons">
         <button type="submit" (click)="onAuthentifier()" [disabled]="FormConnexion.invalid" >
             Se connecter 
            </button>

        </div>
        
        

    </form>
</div>
