.titre{
    color:aliceblue;
  }
  label{
    color: aliceblue;
  }
  .form-card {
    width: 50%;
    height: 50%;
    margin: 20px auto;
    padding: 10px 30px;
    box-shadow: rgb(42, 52, 233) 4px 4px 20px;
    margin-top: 40px;
    background-color: rgb(60, 61, 62);
  }
  
  .form-group {
    margin: 10px auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
 select, input, textarea {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 14px;
    margin-right: 0px;
    margin-left: 0px;
    resize: vertical;
    background-color: rgb(247, 247, 247);
  }
  
  .action-buttons {
    width: 100%;
  }
  
   .btn {
    display: block;
    margin: 20px auto;
    background-color: rgb(172, 136, 136);
  }
  i{
    color: rgb(56, 5, 5);
  
  }