<h2>
    Données personnelles</h2>
        <div class="vertical">
            <div class="form-card1">

                <ul class="grid-2 alpha omega" id="menu-list">
                    <li routerLink="" ><a href="#">Mon profil</a></li>
                    <li><a >Mes offres</a></li>
                    <li><a > Données personnelles</a></li>
                    <li><a  routerLink="post"> lancer une offres ou un besoin </a></li>

                </ul>
               
            </div>


            <div class="form-card2">

                
                    <h2>Données personnelles</h2>
                    <h5>Voir et mettre à jour vos informations ici. Gérez vos identifiants et mots de passe ici. </h5>

                     <div class="vertical"> 
                       <div>  <i class="bi bi-person-check-fill"></i></div> 
                       <div> Nom</div> 
                     </div>
                     <div class="vertical"> 
                        <div>  <i class="bi bi-telephone-forward-fill"></i>
                        </div> 
                        <div> Télephone</div> 
                      </div>
                      <div class="vertical"> 
                        <div>  <i class="bi bi-envelope-check-fill"></i>
                        </div> 
                        <div> Votre adresse e-mail</div> 
                      </div>
                      <div class="vertical"> 
                        <div>  <i class="bi bi-file-lock"></i>
                        
                        </div> 
                        <div>Votre mot de passe</div> 
                      </div>
            </div>

        </div>
        